# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log files
*.log
scratch/
